/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
*,*:before,*:after {
 box-sizing: border-box;
}

img {
 max-width: 100%;
 height: auto;
}


/* get start */
.wrap {
  max-width: 480px;
  margin: 0 auto;
  background: #FF5733;
}
.header h1 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  padding: 10px 0;
  color: white;
}
.content {
  padding:5px;
  overflow: auto;
  background: #EA9D76;
  text-align: center;
}
.content form {
  padding: 20px 0;
}
.content > form > input {
  width: 70%;
  border-radius: 5px;
  padding: 5px;
}
#press {
  width: 15%;
  padding: 5px 20px;
  border: 1px solid red;
  border-radius: 6px;
  background: red;
  color: white;
  box-shadow: 3px 3px 5px gray;
  cursor: pointer;
}
#press:hover {
  background: #871111;
  border: 1px solid #871111;
}
#press:active {
  transform: translateY(2px);
  box-shadow: 1px 3px 5px gray;
}

.menu {
  margin: 0 auto;
  overflow: auto;
}
.menu li {
  text-align: left;
  background: #DDD9D8;
  padding: 20px;
  border-bottom:2px solid white;
  font-size: 18px;
  cursor: pointer;
}
.menu li:hover {
  background: #B3B2B2;
}
.content h3 {
 padding: 10px 0;
 font-size: 18px;
 text-align: left;
 margin-left: 15px;
 color: white;
 text-shadow: 1px 1px 5px gray;
}

.rmvBtn {
  float: right;
  box-shadow: 1px 1px 3px black;
}

.rmvBtn:hover {
  background: gray;
  border: 1px solid gray;
  color: white;
}

.rmvBtn:active {
  transform: translateY(1px);
  box-shadow: 0 1px 3px black
}

.word-ease {
  text-decoration: line-through;
}

